@import '../../../../src/scss/abstracts/all.scss';

// Call all variables 
.big_slider {
    .slick-track {
        .slide {
            display: grid;
            justify-content: center;
            border-radius: $border-radius;
            grid-template-rows: 300px 150px;
            grid-template-columns: 1fr;
            overflow: hidden;
            align-items: center;
            position: relative;
            margin-bottom: 20px;

            @include breakpoints(md) {

                height: 450px;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
            }

            img {
                grid-column: 1;
                grid-row: 2;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center bottom;

                @include breakpoints(md) {
                    grid-row: 1;
                    grid-column: 2;
                    color: white;
                }
            }

            .cover,
            .text {
                grid-row: 1;
                grid-column: 1;
                color: white;

                @include breakpoints(md) {
                    grid-row: 1;
                    grid-column: 1;
                    color: white;
                }
            }

            .cover {
                position: absolute;
                top: 0;
                width: 100%;
                height: 300px;

                @include breakpoints(md) {
                    width: 70%;
                    height: 1000px;
                    transform: translateX(-23%) translateY(-100px) rotate(10deg);

                }
            }

            .text {
                padding: 10px;
                z-index: 2;
                min-height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @include breakpoints(md) {
                    align-items: start;
                    margin-left: 50px;
                    padding: 0;
                }

                .intro {
                    color: white;
                    font-size: 25px;
                    text-align: center;


                    @include breakpoints(md) {
                        text-align: left;
                        font-size: 40px;
                    }
                }

                .bulle {
                    background-color: $white;
                    color: $champ;
                    max-width: 260px;
                }
            }
        }
    }

    .slick-dots {
        li {
            &.slick-active {
                button {
                    &::before {
                        background-color: $champ;
                        border-color: $champ;
                    }
                }
            }
        }
    }

}