@import '../../../../src/scss/abstracts/all.scss';

// Call all variables 
.biere-bouteille {
    margin-top: 15vw;

    .locales {
        margin-top: 15vw;
        position: relative;
        height: fit-content;

        &::before {
            @include sticker-block('/COMPOSITIONS/SVG/locales.svg');
            width: 300px;
            top: -92%;
            left: 23px;
        }
        .content{
            &::before {
                @include sticker-block('/SVG/caen.svg');
                aspect-ratio: 3/1;
                width: 120px;
                top: -75px;
                right: -52px;
                z-index: 10;
                rotate: -3deg;
            } 
        }
    }

    .classique {
        margin-top: 15vw;
        position: relative;
        height: fit-content;

        &::before {
            @include sticker-block('/SVG/classique.svg');
            width: 150px;
            aspect-ratio: 3/1;
            top: -90px;
            left: 70px;
            rotate: 6deg;
        }
        .content{
            &::before {
                @include sticker-block('/COMPOSITIONS/SVG/green-easy.svg');
                width: 150px;
                top: 0px;
                right: -120px;
                rotate: 6deg;
            }
        }
    }

    .content {
        display: grid;
        grid-template-columns: 360px;
        align-items: end;
        justify-content: center;
        margin: auto;

        article {
            grid-column-end: 5;
            grid-template-columns: 128px 30px 64px 5px 133px;

            .nom {
                grid-column-end: 5;
            }

            span {
                @include rounded($white, $bleu-clair);

            }

            $transforms: 5deg, -8deg, 12deg, -3deg;
            $leftValues: 30px, 40px, 20px, 10px;

            @each $transform in $transforms {
                $index: index($transforms, $transform);
                $left: nth($leftValues, $index);

                &:nth-child(#{$index}) {
                    .image {
                        img {
                            transform-origin: center;
                            transform: rotate($transform);
                            left: $left;
                        }
                    }
                }
            }

            .image {
                grid-column-start: 5;
                grid-column-end: 6;
                grid-row-start: 1;
                grid-row-end: 3;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    max-width: 110px;
                    aspect-ratio: 1/1;
                    height: auto;
                    position: absolute;
                }
            }
        }

        .prix {
            font-family: $secondary-font-family;
            grid-column-start: 3;
            grid-column-end: 5;
            gap: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            div {
                min-width: 64px;
                @include font-size(19);
            }
        }


    }
}