@import '../../../../src/scss/abstracts/all.scss';

// Call all variables 
.biere-bouteille {
    h2 {
        font-size: 21px;
        margin-bottom: 0;
    }

    h3.under {
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
    }

    .locales {
        margin-top: 70px;
        position: relative;
        height: fit-content;

        &::before {
            @include sticker-block('/COMPOSITIONS/SVG/locales.svg');
            width: 300px;
            top: -150px;
            left: 23px;
        }

        .content {
            &::before {
                @include sticker-block('/SVG/caen.svg');
                aspect-ratio: 3/1;
                width: 120px;
                top: -55px;
                right: -52px;
                z-index: 10;
                rotate: -3deg;
            }

            .type {
                &.special {
                    background-color: #ffffff;

                }
            }
        }
    }

    .classique {
        margin-top: 50px;
        position: relative;
        height: fit-content;

        &::before {
            @include sticker-block('/SVG/classique.svg');
            width: 150px;
            aspect-ratio: 3/1;
            top: -20%;
            left: 70px;
            rotate: 6deg;
        }

        .content {
            &::before {
                @include sticker-block('/COMPOSITIONS/SVG/green-easy.svg');
                width: 150px;
                top: 20%;
                right: -120px;
                rotate: 6deg;
            }
        }
    }

    .content {
        display: grid;
        grid-template-columns: $grid;
        align-items: end;
        justify-content: start;
        margin: auto;

        article {
            grid-column-end: 8;
            grid-template-columns: $grid;

            .nom {
                grid-column-end: 8;
                grid-row: 1;
            }

            $transforms: 5deg, -8deg, 12deg, -3deg, -3deg, -8deg;
            $leftValues: 30px, 40px, 20px, 60px, 40px, 40px;
            @for $i from 1 through length($transforms) {
                $transform: nth($transforms, $i);
                $left: nth($leftValues, $i);
                
                &:nth-child(#{$i}) {
                    .image {
                        img {
                            transform-origin: center;
                            transform: rotate($transform);
                            left: $left;
                        }
                    }
                }
            }

            .image {
                grid-column-start: 4;
                grid-column-end: 6;
                grid-row-start: 1;
                grid-row-end: 3;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    max-width: 110px;
                    aspect-ratio: 1/1;
                    height: auto;
                    position: absolute;
                }
            }
        }

        .prix {
            font-family: $secondary-font-family;
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row: 2;
            gap: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            div {
                min-width: 64px;
                @include font-size(19);
            }
        }


    }
}