#page {
    background-color: $beige;
    padding: 0px 8px 0 8px;
    position: relative;
    overflow: hidden;

    .roll-container {
        rotate: -8deg;
        display: grid;
        align-items: center;
        justify-content: center;
        justify-items: center;
        scale: 1.2;
        position: absolute;
        right: 4vw;
        bottom: -70px;

        .roll {
            grid-column: 1;
            grid-row: 1;
            display: flex;
            align-items: center;
            right: 0;
            overflow: hidden;
            font-family: $secondary-font-family;
            width: 110px;
            height: 30px;
            font-size: 20pt;
            color: white;

            span {
                white-space: nowrap;
                animation: defilement-rtl 10s infinite linear;
                z-index: 2;
            }

            &.back {
                background-image: url('./../img/SVG/etiquette.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                width: 160px;
                height: 30px;
                top: -2px;
                position: relative;
            }
        }
    }

    main {
        @include breakpoints(md) {
            display: grid;
            grid-template-columns: repeat(auto-fill, 550px);
            grid-gap: 20px;
            justify-content: center;
        }
    }

}