main {
    display: flex;
    justify-content: center;
    background-color: $white;

    .background-site {
        position: fixed;
        top: 0;
        object-fit: cover;
        width: 100%;
        z-index: 0;
    }

    .sections_wrapper {
        max-width: 90%;
        width: $sections_width;
        background-color: $white;
        border-radius: 10px;
        padding: 7px;
        box-shadow: rgba($black, 16%) 0px 3px 6px;
        z-index: 1;
        margin: 80px auto;

        @include breakpoints(md) {
            padding: 70px;

        }
    }
}