@import '../../../../src/scss/abstracts/all.scss';

// Call all variables 
.shooter {
    position: relative;
    &::after {
        @include sticker-block('/COMPOSITIONS/SVG/cloud-hexa-star.svg');
        width: 200px;
        left: 50%;
        bottom: -40px;
        translate: -50% 50%;
    }

    .content {
        display: grid;
        grid-template-columns: $grid;

        span {
            @include rounded($white, $bleu-clair);
            @include font-size(14);
            width: 100%;
            line-height: 15pt;
            height: fit-content;
            text-align: center;
            grid-column: 7;
        }

        article {
            grid-template-columns: $grid;
            grid-template-rows: auto;
            position: relative;
            margin-bottom: 10px;
            grid-column-end: 8;


            h3 {
                @include font-size(30);
                grid-column-end: 8;

            }
            .sous-titre{
                @include font-size(12);
                font-family: $secondary-font-family;
                color: $bleu-clair;
                grid-column-start: 1;
                grid-column-end: 6;
            }

            .prix {
                font-family: $secondary-font-family;
                @include font-size(20);
                grid-column: 7;
                text-align: center;
            }
        }
    }
}