@import '../../../../src/scss/abstracts/all.scss';

// Call all variables 
.soft {
    position: relative;
    &::after{
        @include sticker-block('/COMPOSITIONS/SVG/cloud-globe.svg');
        width: 200px;
        bottom: -150px;
        translate: -50% 0%;
        left: 50%;
    }

    .content {
        display: grid;
        grid-template-columns: $grid;

        article {
            grid-template-columns: $grid;
            grid-template-rows: auto;
            position: relative;
            margin-bottom: 10px;
            grid-column-end: 8;


            h3 {
                @include font-size(30);
                grid-column-end: 8;

            }

            .attributes {
                max-width: unset;
                grid-column-start: 1;
                grid-column-end: 4;
            }
            .compo{
                font-family: $secondary-font-family;
                @include font-size(12);
                grid-column-start: 1;
                grid-column-end: 7;
                color: $rose;
            }

            .prix {
                font-family: $secondary-font-family;
                @include font-size(20);
                grid-column: 7;
                text-align: center;
            }
        }
    }
}