// Font Family
@import url("https://use.typekit.net/fgq5mmy.css");
$primary-font-family: "Museo", sans-serif;
$secondary-font-family: $primary-font-family;

// Font Size
$base-font-size: 16px;

// Line Height
$base-line-height: 1.4;
$heading-line-height: 1.2;