// Font Family
@import url("https://use.typekit.net/dwz2htr.css");
@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');
@font-face {
    font-family: 'gulfs';
    src: url('../fonts/gulfsdisplay-normal-webfont.woff2') format('woff2'),
         url('../fonts/gulfsdisplay-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'sf';
    src: url('../fonts/sf.ttf') format('truetype');
}


$primary-font-family: "Erica One", serif;
$secondary-font-family: "halogen", sans-serif;


// Font Size
$base-font-size: 14px;

// Line Height
$base-line-height: 1.4;
$heading-line-height: 1.2;