// Font Family
@import url("https://use.typekit.net/dwz2htr.css");
@font-face {
    font-family: 'gulfs';
    src: url('../fonts/gulfsdisplay-normal-webfont.woff2') format('woff2'),
         url('../fonts/gulfsdisplay-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$primary-font-family: "gulfs", sans-serif;
$secondary-font-family: "halogen", sans-serif;


// Font Size
$base-font-size: 16px;

// Line Height
$base-line-height: 1.4;
$heading-line-height: 1.2;