@mixin sticker($name) {
    content: '';
    background-image: url('./../img/' + $name);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: center center;
    translate: -50% 50%;
    display: flex;
    aspect-ratio: 1/1;
    position: absolute;
    z-index: 2;
}