.back-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 70px;
    background-color: $rose;
    border-radius: 30px;
    border: 2px solid $white;
    z-index: 20;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        position: absolute;
        content: '';
        background-image: url('../../dist/img/SVG/top.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        width: 30px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &.hide {
        bottom: -70px;
    }
}

.pre-footer {
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: visible;
    width: 100%;
    aspect-ratio: 2/1;
    position: relative;

    span {
        position: absolute;
        background-image: url('../../dist/img//COMPOSITIONS/SVG/all.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 120%;
        aspect-ratio: 2/1;
        top: -10px;
        z-index: 0;
    }
}


.bottom-bar {
    background-color: $white;
    width: 100%;
    border-radius: 100px;
    @include font-size(10);
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-family: $secondary-font-family;
    height: 30px;
    color: $bleu-clair;
    position: relative;
    z-index: 3;

    span {
        white-space: nowrap;
        animation: defilement-rtl 10s infinite linear;
        z-index: 2;
    }
}