article {
    grid-column-start: 1;
    margin-bottom: 5vw;
    z-index: 5;
    grid-template-rows: auto 1fr;
    display: grid;
    

    .nom {
        grid-column-start: 1;
        width: 100%;
    }

    .attributes {
        max-width: 128px;
        display: flex;
        flex-wrap: wrap;
        min-height: 30px;
        gap: 0px;
        flex-direction: row;
        align-content: flex-start;
        grid-row: 2;

        .type {
            @include font-size(10);
            line-height: 7.5pt;
            height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            border: 1px solid;

            &.magic {
                background: linear-gradient(45deg, $rose 0%, $jaune 50%, $bleu-clair 100%);
            }
        }
    }
}