.header {
    width: 100%;
    height: fit-content;
    position: relative;

    &::before {
        @include sticker('/SVG/globe.svg');
        width: 20vw;
        left: 0;
        bottom: 1vw;
    }

    &::after {
        @include sticker('/SVG/sunny.svg');
        width: 15vw;
        bottom: 0;
        left: 12vw;
        transform: scaleX(-1);
        animation: tic 5s infinite alternate ease-in-out;
    }

    h1 {
        color: $beige;
        position: relative;
        height: 27vw;
        margin: 0;

        &::after {
            content: '';
            background-image: url('./../img/SVG/logo.svg');
            background-size: contain;
            background-repeat: no-repeat;
            display: flex;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
        }
    }
}