* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    @include hover {
        text-decoration: none;
    }
}

.page-id-157 {
    .entry-content {
        p {
            font-family: $secondary-font-family;
        }

        max-width: 900px;
        padding: 0 10px;
    }
}